body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 95%;
  height: 1100px;
  margin: auto;
  padding: 10px;
}
.one {
  width: 60%;
  height: 1100px;
  float: left;
}
.two {
  text-align: left;
  margin-left: 60%;
  height: 1100px;
}
